body{
  overflow: hidden;
}

.pet{
  border-radius: 10px;
  width: 80px;
  height: 80px;
  padding-left:100px;
}

.bloco{
  padding-top:300px;
  width: 400px;
}

.botao{
  padding: 6px 50px;
  background: #777;
  color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 50px;
  list-style-type: none;
}

.botao:hover{
  background: #222;
}

.botao:active{
  background: #777;
}

.barra{
  width: 100px;
  background: #99cc00;
  margin: 5px 10px;
  border-radius:4px;
  padding: 3px 3px;
}

.lado{
  float:left;
  margin: 10px 25px;
  width: 120px;
}

#blocoBotao{
  padding: 115px 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: center;
  border: 5px solid rgb(0, 0, 0);
  margin-left: 300px;  
  margin-right:300px;
  left:200px;
  top: 300px;
}

#blocoImagem{
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  left:200px;
  top: 100px;
  border: 5px solid rgb(0, 0, 0);
  margin-left: 300px;  
  margin-right:300px;
}

#mensagem{
  color: red;
}
