body{
  overflow: hidden;
}

.pet{
  width: 300px;
  height: 200px;
 padding-left: 220px;
}

.bloco{
  padding-top: 300px;
  width: 300px;
}

.botao{
  padding: 6px 25px;
  padding: 6%;
  color:rgba(51, 50, 50, 0.89);
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 50px;
  list-style-type: none;
}

.botao:hover{
  color: rgb(43, 105, 175);
}

.botao:active{
  background: rgb(99, 95, 95);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.barra{
  width: 100px;
  background: #00ccb1;
  margin: 5px 10px;
  border-radius:4px;
  padding: 4px 4px;
}

.lado{
  padding-left:303px;
  }

#blocoBotao{
  float: top;
  padding: 35px 0px;
}

#blocoImagem{
  padding-top: 30px;
  padding-bottom: 20px;
  position: center;
  border: 5px solid rgb(0, 0, 0);
  margin-left: 200px;  
  margin-right:200px;
}
#blocoImagem2{
  padding-top: 30px;
  padding-bottom: 30px;
  position: center;
  border: 5px solid rgb(0, 0, 0);
  margin-left: 300px;  
  margin-right:300px;
  left:200px;
  top: 100px;
}

#mensagem{
  color: rgb(255, 0, 0);
}


/*

Classes do html gameover

*/

#gameover{
font-size: 500%;  
color: rgb(255, 0, 0);
text-align: center
}
